sudo: required
dist: trusty

before_install:
- sudo apt-get update -qq
- sudo apt-get install -y dh-make dpkg-dev devscripts

script:
- dh_make --createorig --addmissing --defaultless -y -p estonianidcard_3.12.0.0
- dch --distribution `lsb_release -cs` -b -v 3.12.0.0 'Release'
- dpkg-buildpackage -rfakeroot -us -uc
 
os:
- linux
