Source: open-eid
Section: metapackages
Priority: optional
Maintainer: ria <info@ria.ee>
Build-Depends:
 debhelper-compat (= 12)
Standards-Version: 4.5.1
Homepage: https://www.ria.ee

Package: open-eid
Architecture: all
Depends:
 web-eid,
 qdigidoc4,
 libnss3-tools,
 ${misc:Depends}
Recommends:
 libdigidocpp-tools
Description: This is eID Software metapackage
 This package does not contain anything itself, it's a metapackage that will
 pull in packages required for using the eID Software on the desktop:
 .
 web-eid - new Chrome / Firefox digital signature plugin
 qdigidoc4 - Estonian digital signing and ID card management application
 .
 Change Log (in English): https://www.id.ee/en/article/id-tarkvara-versioonide-info-release-notes/
 Muudatuste loetelu (in Estonian): https://www.id.ee/artikkel/id-tarkvara-versioonide-info-release-notes/
 Журнал изменений (in Russian): https://www.id.ee/ru/artikkel/informacziya-o-versiyah-programmnogo-obespecheniya-id-karty-release-notes-2/
