Source: open-eid
Section: metapackages
Priority: extra
Maintainer: ria <info@ria.ee>
Build-Depends:
 debhelper (>= 7)
Standards-Version: 3.9.3
Homepage: https://www.ria.ee

Package: open-eid
Replaces:
 estonianidcard
Breaks:
 estonianidcard
Architecture: all
Depends:
 chrome-token-signing,
 libnss3-tools,
 esteidpkcs11loader,
 libdigidoc-tools,
 libdigidocpp-tools,
 qdigidoc,
 qesteidutil,
 qdigidoc-tera,
 ${misc:Depends}
Description: This is eID Software metapackage
 This package does not contain anything itself, it's a metapackage that will
 pull in packages required for using the eID Software on the desktop:
 .
 chrome-token-signing - Chrome / Firefox digital signature plugin
 esteidpkcs11loader - Firefox PKCS#11 module loader
 qdigidoc - Estonian ID card digital signature desktop tools
 qesteidutil - Estonian ID card management desktop utility
 qdigidoc-tera - Estonian time-stamping application
 .
 Change Log (in English): http://www.id.ee/eng/changelog
 Muudatuste loetelu (in Estonian): http://www.id.ee/changelog
 Журнал изменений (in Russian): http://www.id.ee/rus/changelog
