name: CI
on: [push, pull_request]
env:
  BUILD_NUMBER: ${{ github.run_number }}
jobs:
  ubuntu:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    env:
      DEBIAN_FRONTEND: noninteractive
      DEBFULLNAME: 'github-actions'
      DEBEMAIL: 'github-actions@github.com'
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install dependencies
      run: sudo apt update -qq && sudo apt install --no-install-recommends -y debhelper dpkg-dev devscripts lintian
    - name: Build
      run: |
        VERSION=$(date '+%y.%m.0.0')
        dch --distribution `lsb_release -cs` -b -v ${VERSION} "Release ${VERSION}"
        dpkg-buildpackage -us -uc -d
        mv ../open-eid* .
    - name: Lintian
      run: lintian *.deb
    - name: Archive artifacts
      uses: actions/upload-artifact@v4
      with:
        name: deb
        path: ./*.deb
